# Data Structures

list, tuple, set, dictionary

In [1]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree", 'B':43,'C':"CCD"}

In [2]:
print("The type of L is ",type(L))
print("The type of T is ",type(T))
print("The type of S is ",type(S))
print("The type of D is ",type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [3]:
print(L[1])
print(L[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [4]:
print(D['B'])

43

In [5]:
S

{1, 3, 4.9, 'name'}

In [6]:
L

[1, 3, 4.9, 'name', 3]

In [7]:
L[1:3]

[3, 4.9]

In [8]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [9]:
T[:3]

(1, 3, 4.9)

In [10]:
L

[1, 3, 4.9, 'name', 3]

In [11]:
L = L + ["how","are",6,"you"]

In [12]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']

In [13]:
L.append(6.8)

In [14]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [15]:
T2 = ('a','b',45)

In [16]:
T3 = T+T2

In [17]:
T3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [18]:
S.add(56)

In [19]:
S

{1, 3, 4.9, 56, 'name'}

In [20]:
S.update({23,"game",1})
print(S)

{'game', 1, 3, 4.9, 'name', 23, 56}

In [21]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [22]:
D['newKey']= "newValue"

In [23]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [24]:
D2 = {"y":"YY","z":10}

In [25]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [26]:
del L[3]

In [27]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [28]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [29]:
S.remove('game')

In [30]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [31]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [32]:
del D['C']

In [33]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue'}

In [34]:
D = D+D2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [35]:
D.update(D2)

In [36]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [37]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [38]:
L2 = L

In [39]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [40]:
L2[2]="four point nine"

In [41]:
L2

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [42]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [43]:
L2 = L.copy()

In [44]:
L2[2]=4.9

In [45]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [46]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [47]:
L3 = L[1:5]

In [48]:
L3

[3, 'four point nine', 3, 'how']

In [49]:
L3[0]="three"

In [50]:
L3

['three', 'four point nine', 3, 'how']

In [51]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [52]:
help(L.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [53]:
L.clear?

In [54]:
L.pop?

In [55]:
L.reverse()

In [56]:
L

[6.8, 'you', 6, 'are', 'how', 3, 'four point nine', 3, 1]

In [57]:
L[::-1]

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [58]:
D.items?

In [59]:
L

[6.8, 'you', 6, 'are', 'how', 3, 'four point nine', 3, 1]

In [60]:
T

(1, 3, 4.9, 'name', 3)

In [61]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [62]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [63]:
D2 = {'A':L,'B':T,'C':S,'D':D}

In [64]:
D2

{'A': [6.8, 'you', 6, 'are', 'how', 3, 'four point nine', 3, 1],
 'B': (1, 3, 4.9, 'name', 3),
 'C': {1, 23, 3, 4.9, 56, 'name'},
 'D': {23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}}

In [66]:
K = D2["D"]

In [67]:
K

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [68]:
for x in K:
    print(x,K[x])

23 twothree
B 43
newKey newValue
y YY
z 10

In [69]:
L3 = [L,T,D,23,'game']

In [70]:
L3

[[6.8, 'you', 6, 'are', 'how', 3, 'four point nine', 3, 1],
 (1, 3, 4.9, 'name', 3),
 {23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10},
 23,
 'game']

In [71]:
type(L3[2])

dict

In [72]:
L4 = [x**2 for x in range(10)]
print(L4)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
S3 = {x**2 for x in range(2,20,3)}

In [75]:
S3

{4, 25, 64, 121, 196, 289}

In [3]:
"""Let say you are a teacher and you have different student records containing 
id of a student and the marks list in each subject where different students
have taken different number of subjects. All these records are in hard copy.
You want to enter all the data in computer and want to compare the average 
marks of each student and display."""

def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma seperated values: ")
        moreStudents = input("Enter yes/no for adding more students: ")
        if studentId in D:
            print(studentId, "is already inserted")
        else:
             D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [4]:
studentData = getDataFromUser()

Enter student ID: 12
Enter the marks by comma seperated values: 56,45,13
Enter yes/no for adding more students: asdf
Enter student ID: 45
Enter the marks by comma seperated values: 44,55,66,77,4
Enter yes/no for adding more students: asdfa
Enter student ID: 12
Enter the marks by comma seperated values: 45,45
Enter yes/no for adding more students: asdfa
12 is already inserted
Enter student ID: 23
Enter the marks by comma seperated values: 45,45
Enter yes/no for adding more students: no

In [5]:
studentData

{'12': ['56', '45', '13'],
 '45': ['44', '55', '66', '77', '4'],
 '23': ['45', '45']}

In [10]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [11]:
avgM = getAvgMarks(studentData)

In [15]:
for x in avgM:
    print("Student: ",x,"got avg Marks as: ", avgM[x])

Student:  12 got avg Marks as:  38.0
Student:  45 got avg Marks as:  49.2
Student:  23 got avg Marks as:  45.0